@model IEnumerable<GeCoSurvey.Domain.SurveyWithState>
@{
    ViewBag.Title = "Surveys";
}

<h2>Surveys</h2>

<div id="surveyList">
<ul>
@foreach (var surveyState in Model)
{
    //UrlHelper u = new UrlHelper(this.ViewContext.RequestContext);
    //string url = u.Action("Compila", "Surveys", new {id = "1"});
    
    <li>
    @surveyState.Survey.Id - @surveyState.Survey.Name 
    
    @if (!surveyState.Compilato)
    { 
        @Html.ActionLink("Compila", "Compila", "Surveys", new { id = surveyState.Survey.Id }, null);
    }
    else
    {
        <span> [compilato]</span>
    }
    </li>
}
</ul>

</div>