@{
    ViewBag.Title = "CaricaQuestionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CaricaQuestionario</h2>

@using (Html.BeginForm("CaricaSurvey", "Load", FormMethod.Post, new { area = "Admin", enctype = "multipart/form-data" }))
{
    <span>Seleziona il file Excel (formato xlsx - Excel 2007-2010)</span><br />
    
    <span>Titolo: </span> @Html.TextBox("title", "")
    <br />
    
    
    <input type="file" name="file" id="file" />
    <input type="submit" value="submit" />
}