@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Amministrazione</h2>
<!-- VECCHIA -->
<ul>
    <li>@Html.ActionLink("Carica Survey da Excel", "CaricaSurvey", "Load", new { area = "Admin" })</li>
    <li>@Html.ActionLink("Carica Utenti", "CaricaUtenti", "Load", new { area = "Admin" })</li>
    @*<li>@Html.ActionLink("Gestione Utenti Responsabili", "CaricaSurvey", "Admin")</li>*@
    <li>@Html.ActionLink("Gestione Utenti", "Index", "User", new { area = "Admin" }, null)</li>
</ul>
