@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<ul>
    <li>@Html.ActionLink("Carica Survey da Excel", "CaricaSurvey", "Load", new { area = "Admin" })</li>
    <li>@Html.ActionLink("Carica Utenti", "CaricaUtenti", "Load", new { area = "Admin" })</li>
    @*<li>@Html.ActionLink("Gestione Utenti Responsabili", "CaricaSurvey", "Admin")</li>*@
    <li>@Html.ActionLink("Gestione Utenti", "Index", "User", new { area = "Admin" }, null)</li>
</ul>

