@model GeCoSurvey.Web.Areas.Admin.Models.Users.CreateUserViewModel
@{
	ViewBag.Title = "Create New User";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">Crea nuovo utente</h2>

<div class="mvcMembership-account">
	@using(Html.BeginForm("CreateUser", "Users")){ 
		@Html.ValidationSummary(true)
	 	@Html.EditorForModel()
		<input type="submit" value="Create" />
	} 
</div>