<div class="header">
    <h1>Questionario di Valutazione</h1>
    <h2>Istruzioni per la compilazione</h2>

    @if (Model != null)
    { 
        <span class="risorsaLabel">Risorsa Valutata:</span><span class="risorsaNome">Model</span>
    }
</div>