<div class="header">
    <h1>Questionario di Valutazione</h1>
    
    @if (Model.ShowIstruzioni == true)
    { 
        <h2>Istruzioni per la compilazione</h2>
    }
    else
    { 
        <h2>&nbsp;</h2>
    }
        
    @if (!string.IsNullOrEmpty(Model.User))
    { 
        <span class="risorsaLabel">Risorsa Valutata:</span><span class="risorsaNome">@Model.User</span>
    }
</div>