<div class="istruzioni">
<h3>Istruzioni Autovalutazione</h3>
<p>
Nel presente questionario le viene richiesta un’autovalutazione in merito alle sue conoscenze tecniche e competenze comportamentali che abitualmente impiega svolgendo il ruolo che attualmente ricopre. 
</p> 

<p>
Per ciascuna conoscenza/competenza in analisi troverà descritti i comportamenti organizzativi che ne permettono l’autodiagnosi, declinati in un grading a cinque livelli. La definizione estremamente operativa di ciascun livello consente di individuare con precisione le abilità che giustificano il proprio posizionamento ai livelli di base, piuttosto che ai livelli in cui è richiesta una espressione più piena ed integrata della conoscenza/competenza stessa. 
</p>

<p>
Il questionario prevede, quindi, 5 diversi Gradi (grado 0, grado 1, grado 2, grado 3, grado 4), riferiti alla Padronanza delle conoscenze tecniche e delle competenze comportamentali.
</p>
<p>
I gradi sono caratterizzati da un livello crescente di Padronanza:
</p>

<table class="gradi" border="1" cellpadding="10" cellspacing="0">
    <tr class="rigaGrado0">
        <td class="colonnaGrado">Grado 0:</td>
        <td>Padronanza della conoscenza/competenza non valutabile.</td>
    </tr>
    <tr class="rigaGrado1">
        <td class="colonnaGrado">Grado 1:</td>
        <td>Padronanza della conoscenza/competenza e abilità ad utilizzare questa padronanza nel contesto operativo richiedendo (occasionalmente) supervisione.</td>
    </tr>
    <tr class="rigaGrado2">
        <td class="colonnaGrado">Grado 2:</td>
        <td>Profonda padronanza della conoscenza/competenza e capacità di utilizzare questa padronanza in autonomia nel contesto operativo.</td>
    </tr>
    <tr class="rigaGrado3">
        <td class="colonnaGrado">Grado 3:</td>
        <td>Livello di padronanza della conoscenza/competenza molto alto e capacità di trasferire questa padronanza agli altri.</td>
    </tr>
    <tr class="rigaGrado4">
        <td class="colonnaGrado">Grado 4:</td>
        <td>Padronanza della conoscenza/competenza tale da rendere chi la detiene un riferimento aziendale.</td>
    </tr>
</table>


<p>
Pensando alla sua realtà professionale e alla sua esperienza lavorativa quotidiana, indichi  – per ciascuna conoscenza/competenza – quale Grado di Padronanza si riconosce maggiormente.
</p>
<p>
Annerisca, quindi, lo spazio corrispondente al comportamento che meglio descrive il suo livello di conoscenza/competenza, come nel seguente esempio.
</p>

<p>
Esempio:
</p>
<p>
Quale Grado di Padronanza si riconosce maggiormente relativamente alle Normative Tecniche?
</p>


</div>


