<div id="istruzioni">
<p>
Nel presente questionario le viene richiesta una valutazione in merito alle <b>conoscenze tecniche</b> ed alle <b>competenze comportamentali</b> possedute dalla risorsa in esame da lei gestita.
</p>
<p>
Per ciascuna conoscenza/competenza in analisi troverà descritti i comportamenti organizzativi che ne permettono la diagnosi, declinati in un <i>grading</i> a cinque livelli. La definizione estremamente operativa di ciascun livello consente di individuare con precisione le abilità che giustificano il posizionamento della risorsa ai livelli di base, piuttosto che ai livelli in cui è richiesta una espressione più piena ed integrata della conoscenza/competenza stessa. 
</p>

<p>
Il questionario prevede, quindi, 5 diversi Gradi (grado 0, grado 1, grado 2, grado 3, grado 4), riferiti alla Padronanza delle conoscenze tecniche e delle competenze comportamentali.
</p>

<p>
I gradi sono caratterizzati da un livello crescente di Padronanza: 
</p>

<table class="gradi" border="1" cellpadding="10" cellspacing="0">
    <tr class="rigaGrado0">
        <td class="colonnaGrado">Grado 0:</td>
        <td>Padronanza della conoscenza/competenza non valutabile.</td>
    </tr>
    <tr class="rigaGrado1">
        <td class="colonnaGrado">Grado 1:</td>
        <td>Padronanza della conoscenza/competenza e abilità ad utilizzare questa padronanza nel contesto operativo richiedendo (occasionalmente) supervisione.</td>
    </tr>
    <tr class="rigaGrado2">
        <td class="colonnaGrado">Grado 2:</td>
        <td>Profonda padronanza della conoscenza/competenza e capacità di utilizzare questa padronanza in autonomia nel contesto operativo.</td>
    </tr>
    <tr class="rigaGrado3">
        <td class="colonnaGrado">Grado 3:</td>
        <td>Livello di padronanza della conoscenza/competenza molto alto e capacità di trasferire questa padronanza agli altri.</td>
    </tr>
    <tr class="rigaGrado4">
        <td class="colonnaGrado">Grado 4:</td>
        <td>Padronanza della conoscenza/competenza tale da rendere chi la detiene un riferimento aziendale.</td>
    </tr>
</table>

<p>
Nella scheda trova già indicato, per ciascuna conoscenza/competenza, il Grado di Padronanza richiesto alla risorsa per soddisfare correttamente le esigenze aziendali (<u>indicato con</u> <img src="@Url.Content("~/Content/star.png")" alt="star" />) ed il valore espresso dalla stessa risorsa (<u>indicato con</u> <img src="@Url.Content("~/Content/autoval.png")" alt="autoval" />).
</p>
    
<p>
Con riferimento all’attività lavorativa concretamente svolta dalla risorsa, indichi quale, tra i Gradi di Padronanza descritti, ne caratterizza maggiormente la performance.
</p>
<p>
Annerisca, quindi, lo spazio corrispondente al comportamento che meglio esprime il livello di conoscenza/competenza effettivamente posseduto dalla risorsa, come nel seguente esempio.
</p>

<p>
<u><i>Esempio:</i></u>
</p>
<p>
In quale Grado di Padronanza si riconosce maggiormente relativamente alle <b>Normative Tecniche</b>?
</p>

<table class="gradi">
    <tr class="rigaGrado0">
        <td class="colonnaIcone">&nbsp;</td>
        <td class="colonnaGrado"><input type="radio" name="g1" /></td>
        <td>Padronanza della conoscenza/competenza non valutabile.</td>
    </tr>
    <tr class="rigaGrado1">
        <td class="colonnaIcone"><img src="@Url.Content("~/Content/star.png")" alt="star" /></td>
        <td class="colonnaGrado"><input type="radio" name="g1"/></td>
        <td>Padronanza della conoscenza/competenza e abilità ad utilizzare questa padronanza nel contesto operativo richiedendo (occasionalmente) supervisione.</td>
    </tr>
    <tr class="rigaGrado2">
        <td class="colonnaIcone">&nbsp;</td>
        <td class="colonnaGrado"><input type="radio" name="g1"/></td>
        <td>Profonda padronanza della conoscenza/competenza e capacità di utilizzare questa padronanza in autonomia nel contesto operativo.</td>
    </tr>
    <tr class="rigaGrado3">
        <td class="colonnaIcone">&nbsp;</td>
        <td class="colonnaGrado"><input type="radio" name="g1"/></td>
        <td>Livello di padronanza della conoscenza/competenza molto alto e capacità di trasferire questa padronanza agli altri.</td>
    </tr>
    <tr class="rigaGrado4">
        <td class="colonnaIcone"><img src="@Url.Content("~/Content/autoval.png")" alt="autoval" /></td>
        <td class="colonnaGrado"><input type="radio" name="g1"/></td>
        <td>Padronanza della conoscenza/competenza tale da rendere chi la detiene un riferimento aziendale.</td>
    </tr>
</table>

</div>


