@{
    ViewBag.Title = "Change Password";
}

<h2>Cambio Password</h2>
<p>
    La password è stata modificata.
</p>
<p>
    Clicca @Html.ActionLink("QUI", "Index", "Home", new { area = "" }, null) per tornare alla Homepage
</p>

